<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入外部配置文件 -->

    <typeAliases>
        <package name="com.ju.pojo"/>
    </typeAliases>

    <mappers>
        <!--<mapper resource="com/ju/dao/bookMapper.xml"/>-->
        <mapper class="com.ju.dao.BookMapper" />
        <!--<package name="com.ju.dao"/>-->
    </mappers>

</configuration>